{{#atomicFacts}}
MODULE {{afName}}({{afName}})
  DEFINE val := {{afName}};
  VAR holds : boolean;

{{/atomicFacts}}
{{#recordFacts}}
MODULE {{rfName}}({{rfFields}})
  VAR holds : boolean;

{{/recordFacts}}
{{#duties}}
MODULE {{dName}}({{dFields}})
  VAR holds : boolean;

{{/duties}}
MODULE main
  CONSTANTS
    {{#atomicFacts}}{{#afIsString}}{{#afInstances}}{{#fiParams}}"{{{fpValue}}}"{{/fiParams}}{{^fiLast}}, {{/fiLast}}{{/afInstances}}{{^afLast}}, {{/afLast}}{{/afIsString}}{{/atomicFacts}};
  VAR
    {{#boolFacts}}
    {{bName}}.holds : boolean;
    {{/boolFacts}}
    {{#atomicFacts}}
    {{#afInstances}}
    {{fiIdentifier}} : {{afName}}({{#fiParams}}"{{{fpValue}}}"{{^fpLast}}, {{/fpLast}}{{/fiParams}});
    {{/afInstances}}
    {{/atomicFacts}}
    {{#recordFacts}}
    {{#rfInstances}}
    {{fiIdentifier}} : {{rfName}}({{#fiParams}}"{{{fpValue}}}"{{^fpLast}}, {{/fpLast}}{{/fiParams}});
    {{/rfInstances}}
    {{/recordFacts}}
    {{#duties}}
    {{#dInstances}}
    {{diIdentifier}} : {{dName}}({{#diParams}}"{{{fpValue}}}"{{^fpLast}}, {{/fpLast}}{{/diParams}});
    {{/dInstances}}
    {{/duties}}
    last_trans : {none{{#transitions}}, {{#tInstances}}{{tiIdentifier}}{{^tiLast}}, {{/tiLast}}{{/tInstances}}{{/transitions}}};
  {{#atomicFacts}}
  {{#afInstances}}
  DEFINE {{fiIdentifier}}.derivation := {{fiDerivation}};
  {{/afInstances}}
  {{/atomicFacts}}
  {{#recordFacts}}
  {{#rfInstances}}
  DEFINE {{fiIdentifier}}.derivation := {{fiDerivation}};
  {{/rfInstances}}
  {{/recordFacts}}
  {{#transitions}}
  {{#tInstances}}
  DEFINE {{tiIdentifier}}.enabled := {{{tiPrecon}}};
  {{/tInstances}}
  {{/transitions}}
  {{#duties}}
  {{#dInstances}}
  DEFINE {{diIdentifier}}.derivation := {{diDerivation}};
  DEFINE {{diIdentifier}}.violated := {{diViolationCon}};
  {{/dInstances}}
  {{/duties}}
  {{#initialState}}
  INIT {{sIdentifier}}.holds = {{sValue}};
  {{/initialState}}
  INIT last_trans = none;
  TRANS
    {{#transitions}}{{#tInstances}}({{tiIdentifier}}.enabled & (
      next(last_trans) = {{tiIdentifier}}
{{#tiPostcons}}      & next({{tpIdentifier}}.holds) = ({{tpAssignment}}{{#tpAssignmentToSelf}}.holds{{^tpIsBool}} | {{tpIdentifier}}.derivation{{/tpIsBool}}{{/tpAssignmentToSelf}})
      {{/tiPostcons}}
      )
    )
  {{^tiLast}}  xor {{/tiLast}}{{/tInstances}}{{^tLast}}  xor {{/tLast}}{{/transitions}}  xor (({{#transitions}}{{#tInstances}}!{{tiIdentifier}}.enabled{{^tiLast}} & {{/tiLast}}{{/tInstances}}{{^tLast}} & {{/tLast}}{{/transitions}}) & (
      next(last_trans) = none
      {{#atomicFacts}}
      {{#afInstances}}
      & next({{fiIdentifier}}.holds) = {{fiIdentifier}}.holds
      {{/afInstances}}
      {{/atomicFacts}}
      {{#recordFacts}}
      {{#rfInstances}}
      & next({{fiIdentifier}}.holds) = {{fiIdentifier}}.holds
      {{/rfInstances}}
      {{/recordFacts}}
      {{#duties}}
      {{#dInstances}}
      & next({{diIdentifier}}.holds) = {{diIdentifier}}.holds
      {{/dInstances}}
      {{/duties}}
      )
    )

{{#properties}}
{{#pIsInvariant}}
INVARSPEC NAME {{{pName}}} := {{{pFormula}}}
{{/pIsInvariant}}
{{^pIsInvariant}}
LTLSPEC NAME {{{pName}}} := {{{pFormula}}}
{{/pIsInvariant}}
{{/properties}}
